.introduction{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}
.introduction p{
    color : white;
}

.introduction div h1{
    color: white;
    font-size: 90px;
    font-weight: bold;
    opacity: 0.8;
}
.introduction div h1:hover{
    color : orangered;
    cursor: default;
    text-shadow: 0px 0px 8px #fff;
    opacity: 1;
}

.primary-button{
    background-color: black;
    height: 45px;
    border-radius: 25px;
    border : 1px solid white;
    width: 150px;
    color: white;
    box-shadow: -3px 3px 0 wheat;
}
.primary-button:hover{
    box-shadow: 3px -3px 0 wheat;
}
.devstack{
    color : black;
    transition: all 0.5s;
}
.devstack:hover{
    color: white;
    background-color: black;
    transform: scale(1.06);
    transition: all 0.5s;
}

@media(max-width : 750px) {
    .introduction div h1{
        color: white;
        font-size: 75px;
        font-weight: bold;
        opacity: 0.8;
    }
    .introduction div h1:hover{
        color : orangered;
        cursor: default;
        text-shadow: 0px 0px 8px #fff;
        opacity: 1;
    }
    .primary-button{
        border-radius: 25px;
        border : 1px solid white;
        background-color: black;
        width: auto;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
    }
    .who-am-i{
        height: 100vh;
        background-size: 200% 100%;
        color: white;
        background-position: center;
    }
    pre{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif !important;
    }
    .who-am-i div{
        background-color: black;
    }
}

.who-am-i{
    height: 75vh;
    background-size: 100% 100%;
    color: white;
    transition: all 0.5s;
}
pre{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
}

.animated-svg {
    display: block;
    font: 8.8em 'Montserrat';
    width: 960px;
    height: 300px;
}

.text-copy {
    fill: none;
    stroke: #B7C9F2;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #BED1CF;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #40A2E3;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #37B5B6;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #40A2D8;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #86A7FC;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
@media(max-width : 760px)
{
    .animated-svg{
        width: 90%;
        font-size: 8rem;
    }
}

.animated-description{
  color:#fff;
  font-family:'Roboto';
  font-size:25px;
  font-weight:100;
  overflow:hidden;
}

.dropping-texts {
    display: inline-block;
    width: 180px;
    text-align: left;
    height: 27px;
    vertical-align: -2px;
    margin-left: 10px;
    color: #FAA300;
  }
  
  .dropping-texts > div {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position:absolute;
    font-weight:300;   
    box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
  }
  
  .dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
  }
  .dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
  }
  .dropping-texts > div:nth-child(4) {
    animation: roll 5s linear infinite 2.9s;
  }

  @media(max-width:760px)
  {
    .animated-description
    {
        font-size: 15px;
    }
    .dropping-texts
    {
        height: 17px;
    }
  }
  
  @keyframes roll {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    20% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    27% {
      font-size:0px;
      opacity:0.5;
      margin-left:20px;
      margin-top:100px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }
  
  @keyframes roll2 {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    30% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    37% {
      font-size:1500px;
      opacity:0;
      margin-left:-1000px;
      margin-top:-800px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }

  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
    color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;    
  }